<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798477734031-fqmkjqi9783egi6haa5hr03m505pibf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798477734031-fqmkjqi9783egi6haa5hr03m505pibf7</string>
	<key>API_KEY</key>
	<string>AIzaSyDLUsfEbPEYoTurhy892Op5HixkGhhdO8c</string>
	<key>GCM_SENDER_ID</key>
	<string>798477734031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matt.deuschle.Merica</string>
	<key>PROJECT_ID</key>
	<string>merica-1dbac</string>
	<key>STORAGE_BUCKET</key>
	<string>merica-1dbac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:798477734031:ios:958fcdcb99e23750</string>
	<key>DATABASE_URL</key>
	<string>https://merica-1dbac.firebaseio.com</string>
</dict>
</plist>